@page "/"





<h1>Hej!</h1>

<p>Välkommen till min app.</p>

<br />

<img src="/Images/Winter.jpg" asp-append-version="true" width="1600" />

<br />

<SurveyPrompt Title="How is Blazor working for you?" />


